@import '../bower_components/bourbon/dist/bourbon';

$fontFamily-verdana: 'Verdana', sans-serif;

$fontSize-medium: 10pt;
$fontSize-small: 8pt;
$fontSize-extraSmall: 7pt;

$color-black: black;
$color-gray: #828282;
$color-orange: #ff6600;
$color-tan: #f6f6ef;
$color-white: white;
